{% extends "blog/base.html" %}
{% block content %}
    <div class="media-body">
      <h2>FoElite</h2>
      <h4>Growth Hacker's Guide to Forge of Empires - Part 1 - Intro/Mindset <br>(FoElite's GB & Age Walkthrough)</h4>
      <p class="article-content">Forge of Empires is constantly changing.  The purpose of this guide is to teach players systems of making decisions about how to advance in the game as quickly as possible for the least investment possible (e.g. you don't have to buy diamonds to grow fast).</p>

      <p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/A96MvKwwwP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h4>Growth Hackers Guide to FoE - Part 2 - GB Order <br>(Which Great Building Should I Build Next)</h4>

      <p class="article-content">There's a lot of discussion about what the optimal order is for building GB's in Forge of Empires  This video does an in-depth analysis comparing the FoElite approach (which skips FP only GBs) vs. the LOW approach (which focuses on FP/Day first).</p>


      <iframe width="560" height="315" src="https://www.youtube.com/embed/U6DwOEWp_88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p>Throughout the video several resources are mentioned.  Here are the links to those resources:</p>

      <a class="nav-item nav-link" href="https://docs.google.com/document/d/1oVqN3p3Crn9rLlCZ48oYzP_ap4M99sYqjBtMKCAT0I0/edit">Outline/notes for this video</a>
      <br>
      <a class="nav-item nav-link" href="https://docs.google.com/spreadsheets/d/1phXXRkPAN7btD3kyH8iOfOa6-Z3lYn9PqLfdX_3oum4/edit">Great Building list with target ages and brief explanations:</a>
      <br>
      <a class="nav-item nav-link" href="https://docs.google.com/spreadsheets/d/1phXXRkPAN7btD3kyH8iOfOa6-Z3lYn9PqLfdX_3oum4/edit#gid=661299418">iPenguinPat city progress via FoE Planner</a>
      <br>
      <a class="nav-item nav-link" href="https://docs.google.com/document/d/1OmTK9276AwtbZOsWxmq14PgXIHz6tZZMNWjK-j_8x8o/edit">Pat's guild post with progress and comments by age:</a>
      <br>
      <a class="nav-item nav-link" href="https://forum.en.forgeofempires.com/index.php?threads%2Flow-advanced-guide.33723%2F">LOW Advanced Guide</a>

    </div>


{% endblock content %}
