{% extends "blog/base.html" %}
{% block content %}

    <div class="media-body">
      <h1>Links</h1>
      <p></p>
      <h2>Forge of Empires on Youtube</h2>
    </div>
    <div class="media-body">
      <ul>
        <li><a href="https://www.youtube.com/c/FoElite">FoElite</a>
          <p class="article-content">FoElite is a channel dedicated to players that want to build competitive cities to help their competitive *fighting* guilds.  There are many ways to play, and this channel will *not* address other styles including high city defense, beautiful cities, great building collector cities, etc.  Max efficiency for fighter only.</p></li>
        <li><a href="https://www.youtube.com/channel/UCs0jKKXLlQa2G8PevkmtuDQ">MooingCatFoE</a>
          <p class="article-content">Hello! My name is MooingCat and I've been playing this game for three years now :) On this channel I upload all sorts of Forge of Empires content, such as event guides, settlement guides, building set guides, and beta coverage. I also do livestreams on special occasions, so make sure to keep an eye out for when they start :)</p></li>
        <li><a href="https://www.youtube.com/channel/UCSHayi0U1WT1L_YPpuriZag">FoEhints</a>
          <p class="article-content">FoEhints provides information, tips and tricks about the browser game Forge of Empires.</p></li>
        <li><a href="https://www.youtube.com/channel/UCBkwtRmT5grfnS983nEb42w">FoE Advance</a>
          <p class="article-content">FoE Advance is dedicated to helping Forge of Empires gamers get the most out of their gameplay experience. Forge of Empires is an exciting yet complex game that takes place over a long period of time. Watch these videos and advance your gameplay!</p></li>
        <li><a href="https://www.youtube.com/channel/UCoTyuuRB06riqR7RVAg1grw">JamrJim</a>
          <p class="article-content"></p></li>
        <li><a href="https://www.youtube.com/c/LilianatheMagnificent">Liliana the Magnificent</a></li>
      </ul>
    </div>
<br>
    <div>
      <h2>Wikis</h2>
      <ul>
        <li><a href="https://forgeofempires.fandom.com/wiki/Forge_of_Empires_Wiki">Fandom's Forge of Empires Wiki</a>
          <p>The English fan database of the Forge of Empires MMO. With 4,235 articles, 7,280 images, 28 active editors and 156,110 edits so far, you are at the largest Fandom Wiki for FoE which has a near-inexhaustible wealth of information, quests, guides and an awesome community.</li>
        <li><a href="https://en.wiki.forgeofempires.com/index.php?title=Main_Page">Official Forge of Empires Wiki</a></li>

      </ul>
    </div>
<br>
    <div>
      <h2>FoE Helper: The AddOn for Forge of Empires</h2>
      <ul>
        <li><a href="https://foe-helper.com/">FoE Helper Website</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/foe-helper/bkagcmloachflbbkfmfiggipaelfamdf">Chrome Web Store FoE Helper</a></li>
      </ul>
    </div>
<br>
    <div>
      <h2>FoE Discord</h2>
      <ul>
        <li><a href="https://bit.ly/MooingCat-Discord">MooingCat-Discord</a>
      </ul>
    </div>
<br>
    <div>
      <h2>ForgeDB</h2>
      <ul>
        <li><a href="https://foestats.com/">ForgeDB/</a>
          <p>You can use the menus at the top of the page to pick your server and see various tables displaying information about Players, Guilds, and Great Buildings for each world.</p></li>
      </ul>
    </div>
<br>
    <div>
      <h2>Reddit Forge of Empires</h2>
      <ul>
        <li><a href="https://www.reddit.com/r/forgeofempires/">r/forgeofempires/</a>
          <p>A community to discuss all things Forge of Empires!</p></li>
      </ul>
    </div>
<br>
    <div>
      <h2>FOE Tools, Great Building Calculators, etc</h2>
      <ul>
        <li><a href="https://foe.tools/">FOE Tools</a>
          <p>A set of tools to simplify life on Forge of Empires</p></li>
        <li><a href="https://FOE-Assistant.com">FOE-Assistant</a>
          <p>FOE-Assistant.com is a fan website containing a lot of useful information about the Forge of Empires game. You will find the construction costs of Great Buildings with rewards including the Arc bonus, the number of FP to block the first place, the total cost of the owner, bonuses and much more. And all this in a clear and simple form.</p></li>
      </ul>
    </div>



<br>
    <div>
      <h2>Facebook</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/forgeofempires.official/">Forge of Empires - Official Group</a></li>
      </ul>
    </div>
<br>
    <div>
      <h2>Forums</h2>
      <ul>
        <li><a href="https://forum.us.forgeofempires.com/index.php">Forge of Empires Forum</a></li>
      </ul>
    </div>

<br>

    <div>
      <h2>Settlement Guides</h2>
      <ul>
        <li><a href="https://www.forgeofempirestips.com/aztecs-settlement-guide-part-1/#more-2060">Forge of Empires Tips - Aztecs Settlement Guide</a></li>
        <li><a href="https://www.reddit.com/r/forgeofempires/comments/c27e72/viking_settlement_problem/erilwxl/?context=3">Nicomarx59's Viking Settlement Guide</a></li>
        <li><a href="https://www.reddit.com/r/forgeofempires/comments/k0w1cn/aztec_settlement_optimal_start_guide_building/?utm_source=share&utm_medium=web2x&context=3">Aztec Settlement Optimal Start Guide</a></li>

      </ul>
    </div>

<br>
    <div>
      <h2>FoE Spreadsheets</h2>
      <ul>
        <li><a href="https://docs.google.com/spreadsheets/d/1phXXRkPAN7btD3kyH8iOfOa6-Z3lYn9PqLfdX_3oum4/edit">Misc iPenguinPat Sheets</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1hiMjRQar4fZBHIo_iQpDJ8XmhSqQyrTynw9IlWskB0U/edit#gid=1303545771">Hawk's FoE info sheet</a></li>
        <li><a href="https://forum.us.forgeofempires.com/index.php?threads/higher-age-units-guide-v1-2.37109/">Introduction to the Higher Age Units Guide</a></li>
      </ul>
    </div>
<br>
  <div>
    <h2>Unit Guides</h2>
    <ul>
      <li><a href="https://www.reddit.com/r/forgeofempires/comments/fhq1xj/woodchucks_mostly_complete_guide_to_advanced_age/">Woodchuck's (mostly) Complete Guide to Advanced Age Units</a></li>
      <li><a href="https://www.battlecenter.com/2018/01/16/forge-empires-ultimate-military-guide/">Forge of Empires: Ultimate Military Guide</a></li>
      <li><a href="https://forum.en.forgeofempires.com/index.php?threads/general-offensive-defensive-military-guide.8777/">General Offensive/Defensive Military Guide</a></li>
      <li><a href="https://docs.google.com/document/d/1_PnZC6pWzxL0sGpaeTk5K91C6O2woxOdvvmHxuYK9rs/edit#heading=h.sqbtnc4as2vb">Forge of Empires Units</a></li>
      <li><a href="https://www.reddit.com/r/forgeofempires/comments/lupns9/optimal_attack_bonus_for_gegbg_per_era/">Optimal attack bonus for GE/GBG per era consolidated #needyourhelp</a></li>
    </ul>
  </div>

<br>

    <div>
      <h2>Websites</h2>
      <ul>
        <li><a href="http://www.foeguides.com/">Forge of Empires Guides</a></li>
        <li><a href="https://www.forgeofempirestips.com/">Forge of Empires Tips</a></li>
        <li><a href="https://wisegeek.ru/aaf/forge-of-empires">Forge of Empires WiKi: Tips and Tricks for Game Walkthrough</a></li>
        <li><a href="https://guides.gamepressure.com/forge_of_empires/">Gamepressure's Forge of Empires Game Guide</a></li>
        <li><a href="https://www.battlecenter.com/2017/11/10/forge-empires-ultimate-beginners-strategy-guide/">Battlecenter's Forge of Empires: The Ultimate Beginner’s Strategy Guide</a></li>
        <li><a href="https://www.forgeofempirestips.com/">Forge of Empires Tips</a></li>
        <li><a href="https://guidescroll.com/2013/03/forge-of-empires-early-to-mid-game-guide/">GuideScroll's Forge of Empires Early to Mid Game Guide</a></li>
      </ul>
    </div>
<br>
<br>
<br>

{% endblock content %}
